<div class="row">
  <!-- left side  -->
  <div class="col-6">
    <img
      src="../assets/Images/main-left.png"
      alt=""
      class="h-100 w-100"
    />
  </div>

  <!-- right side  -->
  <div class="col-6 p-5 d-flex align-items-center justify-content-center">
    <form class="row g-3 justify-content-center">
      <p class="fw-bolder fs-2 mb-0">Log in to Exclusive</p>
      <p class="fs-5">Enter your username and password below</p>
      <div class="col-md-12">
        <input
          type="text"
          class="form-control border-0 border-bottom border-black"
          id="userEmail"
          placeholder="Username"
        />
      </div>
      <div class="col-md-12">
        <input
          type="password"
          class="form-control border-0 border-bottom border-black"
          id="userPassword"
          placeholder="Password"
        />
      </div>
      <p></p>
      <div class="col-12">
        <div class="row justify-content-between">
          <button type="submit" class="btn btn-danger col-3 py-3 m-0">
            Login
          </button>
          <button type="button" class="text-danger btn col-5 fw-bold m-0 p-0">
            Forgot Password?
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
